.hold_content {
  width:80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 2%;
}

.modal_e_contain {
  margin-top: 5%;
}

.modalTitle {
  text-align: center;
  margin: auto;
}

.button_m {
  text-align: center;
}
