.disp_list {
  list-style: none;
  padding: 0;
  margin-bottom: 5%;
  width: 100%;
}

.disp_list li {
}

.item_row{
  border: solid rgb(234, 236, 237) 1px;
  background: rgb(241, 244, 246);
  margin-bottom: 2%;
  padding: 1%;
  display: flex;
  font-size: 18px;
  border-radius: 4px;
}

#listItem{
}

#ex_contain {
  text-align: right;
}

#ex:hover {
  color: rgb(168, 50, 71);
  cursor: pointer;
}
